@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 5px; 
}

body::-webkit-scrollbar-track {
  background: transparent; 
}

body::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #FDC700;
}